<h2>Relação de Categorias de Livros</h2>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <td>{{ categoria.id }}</td>
      <td>{{ categoria.categoria }}</td>
      <td>
        <button (click)="editar(categoria.id)">Editar</button>
        <button (click)="excluir(categoria.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<button (click)="novo()">Nova Categoria</button>
<button (click)="voltar()">Voltar</button>



